@font-face {
  font-family: "BonaNovaSC";
  src: url("../fonts/BonaNovaSC-Regular.ttf") format("truetype");
  font-weight: 1000;
}
@font-face {
  font-family: "NewCM";
  src: url("../fonts/NewCM10-Regular.otf") format("opentype");
}

.masthead-title a {
  font-family: "BonaNovaSC";
  font-size: 1.75rem;
}

/* everything is vibe coded */

.nav .nav-item a {
  text-decoration: none;
  border-bottom: 2px solid transparent;
  transition: border-color 0.3s;
  color: inherit;
}

.nav .nav-item a:hover {
  border-bottom: 2px solid currentColor;
}

.nav .nav-item a.current {
  text-decoration: none;
  border-bottom: 2px solid currentColor;
}

body {
  font-family: "NewCM" !important;
  font-size: 1rem;
}

p {
  text-indent: 1em; /* adjust indent size */
  margin-top: 0; /* optional: avoid extra spacing */
  margin-bottom: 1em; /* keep paragraph spacing */
}

.related {
  border-bottom: none !important;
}

.katex,
.katex-display {
  overflow-x: auto;
  overflow-y: hidden;
}
