@font-face {
  font-family: "BonaNovaSC";
  src: url("../fonts/BonaNovaSC-Regular.ttf") format("truetype");
  font-weight: 700;
}

.masthead-title a {
  font-family: "BonaNovaSC";
  font-size: clamp(2.5rem, 10vw, 6.75rem);
  text-transform: uppercase;
}
